<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
</head>
<body>

    <canvas id="bg-canvas"></canvas>

    <div class="content-wrapper">
			{% block content %}{% endblock %}
	</div>

    {% block scripts %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    
	<script src="{{ url_for('static', filename='js/background.js') }}"></script>

</body>
</html>