{% extends "base.html" %}

{% block content %}
<div class="frame glass-effect">
    <a href="/gallery">&larr; View Visitors</a>

    {% for group in groups %}
        <div class="dashboard-item">
            <div class="flex-row">
                <a href="/gallery/{{group}}" style="text-decoration: none; width: auto; display: flex; flex-direction: column; align-items: center; color:black;">
                    <h1>{{group}}</h1>
                </a>

                <a href="#" 
                    onclick="triggerPlay(event, '{{group}}')" 
                    style="text-decoration: none; width: auto; display: flex; flex-direction: column; align-items: center;" 
                    class="glowColor">
                        <h3>&rarr; Play</h3>
                </a>
            </div>

            <img src="/gallery/{{group}}/fused/fused_portrait.jpg" alt="Fused Portrait of {{group}}">
        </div>
    {% endfor %}
</div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/play_installation.js') }}"></script>

{% endblock %}