{% extends "base.html" %}

{% block content %}
<div id="viewport">
    <div id="canvas">
        <svg id="svg-layer"></svg>

		<a href="/gallery/add_visitor" class="header-link">
			<div class="mindmap-node hub-node" id="hub">
				<h1>BECOME</h1>
			</div>
		</a>
		

        {% for group in groups %}
            <a href="/gallery/{{group}}" style="text-decoration: none; color: inherit;">
			
                <div class="mindmap-node group-card" data-index="{{ loop.index0 }}">
				
                    <div class="image-wrapper">
                        <img src="/gallery/{{group}}/fused/fused.jpg" alt="Fused Portrait of {{group}}">
					<h1>{{group}}</h1>
						
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/mind_map.js') }}"></script>
{% endblock %}