{% extends "base.html" %}

{% block content %}
	<a href="/gallery">&larr; View Visitors</a>
	<h1>Manifesto</h1>


{% endblock %}	<ul>
		<li> <p>I will be less than I perceive myself to be</p>
		<li> <p>I will be less than I perceive myself to be</p>
		<li> <p>I will be less than I perceive myself to be</p>
		<li> <p>I will be less than I perceive myself to be</p>
		<li> <p>I will be less than I perceive myself to be</p>
		<li> <p>I will be less than I perceive myself to be</p>
		<li> <p>I will be less than I perceive myself to be</p>
		<li> <p>I will be less than I perceive myself to be</p>
	</ul>